<div class="container">
  <div class="d-flex justify-content-center p-4 m-4">
    <div class="row row-cols-2">

      <div class="col p-2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/images/freddie.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">
              <a routerLinkActive="active" routerLink="/proyecto1" class="nav-item nav-link">
                Mr Button
              </a>
            </h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
          </div>
        </div>
      </div>

      <div class="col p-2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/images/freddie3.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="#" class="card-link">PokeNuzloke</a></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
          </div>
        </div>
      </div>

      <div class="col p-2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/images/freddie2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="#" class="card-link">Pokemon Starter Kit RPG Maker</a></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
          </div>
        </div>
      </div>

      <div class="col p-2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="../../assets/images/brianroger.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><a href="#" class="card-link">Administracion Fincas</a></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>