<div class="container">

  <div class="d-flex justify-content-center p-2 m-2">
    <h3>Special</h3>
  </div>

  <div class="d-flex justify-content-center p-3 m-3">

    <div class="accordion" id="accordionExample">

      <div class="card">

        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" (click)="mostrarPersona1()">
              R
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" *ngIf="persona1">
          <div class="card-body">

            <div class="tarjetaEquipo">

              <div class="tarjetaEquipo__foto">
                <img class="card-img-top" src="../../assets/images/raul.jpg" alt="Card image cap">
              </div>

              <div class="tarjetaEquipo__nombre">
                <h3>RAUL MAQUINA</h3>
              </div>

              <div class="tarjetaEquipo__descripcion">
                <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un poquito
                  a la mandanga</p>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="card">

        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" (click)="mostrarPersona2()">
              E
            </button>
          </h2>
        </div>

        <div id="collapseTwo" class="collapse show" *ngIf="persona2">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf
            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
            anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
            probably
            haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>

      </div>

      <div class="card">

        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" (click)="mostrarPersona3()">
              D
            </button>
          </h2>
        </div>

        <div id="collapseThree" class="collapse show" *ngIf="persona3">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf
            moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
            anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
            butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
            probably
            haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>

      </div>

    </div>

  </div>
</div>