<div class="container">

  <div class="d-flex justify-content-center p-2 m-2">
    <h3> We are Special</h3>
  </div>

  <div class="d-flex justify-content-center p-3 m-3">

    <div class="accordion" id="accordionExample">

      <div class="card">

        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" (click)="mostrarPersona1()">
              R
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" *ngIf="persona1">
          <div class="card-body">

            <div class="tarjetaEquipo">

              <div class="tarjetaEquipo__foto">
                <img class="card-img-top" src="../../assets/images/raul.jpg" alt="Card image cap">
              </div>

              <div class="tarjetaEquipo__nombre">
                <h2>RAUL DEL RÍO</h2>
                <h5>CEO de Special Red</h5>
                <h5>Jefe de Desarrollo</h5>
                <h5>Full Stack Developer</h5>
                <h5>Fumador de porritos</h5>
                <h5>Maestro de la vida</h5>
              </div>

              <div class="tarjetaEquipo__descripcion">
                <div class="text-justify">
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="card">

        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" (click)="mostrarPersona2()">
              E
            </button>
          </h2>
        </div>

        <div id="collapseTwo" class="collapse show" *ngIf="persona2">
          <div class="card-body">

            <div class="tarjetaEquipo">

              <div class="tarjetaEquipo__foto">
                <img class="card-img-top" src="../../assets/images/eloy.jpg" alt="Card image cap">
              </div>

              <div class="tarjetaEquipo__nombre">
                <h2>ELOY ESCRIHUELA</h2>
                <h5>Jefe de Fotografia</h5>
                <h5>Jefe de Arte y Gráficos</h5>
                <h5>Führer de la III Republica</h5>
              </div>

              <div class="tarjetaEquipo__descripcion">
                <div class="text-justify">
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="card">

        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" (click)="mostrarPersona3()">
              D
            </button>
          </h2>
        </div>

        <div id="collapseThree" class="collapse show" *ngIf="persona3">
          <div class="card-body">

            <div class="tarjetaEquipo">

              <div class="tarjetaEquipo__foto">
                <img class="card-img-top" src="../../assets/images/david.jpg" alt="Card image cap">
              </div>

              <div class="tarjetaEquipo__nombre">
                <h2>DAVID DEL RÍO</h2>
                <h5>Puto Amo</h5>
                <h5>Lider Supremo</h5>
                <h5>Genio NO filantropo</h5>
                <h5>Leyenda</h5>
              </div>

              <div class="tarjetaEquipo__descripcion">
                <div class="text-justify">
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="d-flex justify-content-center p-2 m-2">
    <h4>Con la <i>Special</i> colaboración de</h4>
  </div>

  <div class="d-flex justify-content-center p-3 m-3">

    <div class="accordion" id="accordionExample">

      <div class="card">

        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" (click)="mostrarColaborador1()">
              Andrea Reche
            </button>
          </h2>
        </div>

        <div id="collapseOne" class="collapse show" *ngIf="colaborador1">
          <div class="card-body">

            <div class="tarjetaEquipo">

              <div class="tarjetaEquipo__foto">
                <img class="card-img-top" src="../../assets/images/andrea.jpg" alt="Card image cap">
              </div>

              <div class="tarjetaEquipo__nombre">
                <h2>ANDREA RECHE</h2>
                <h5>Asesora de diseño</h5>
                <h5>Artista gráfica</h5>
                <h5>Kawaii Level Over 9000</h5>
              </div>

              <div class="tarjetaEquipo__descripcion">
                <div class="text-justify">
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                  <p>Toda la tralla por su parte ahi camelando como el camela pegandole un poquito a la legia y un
                    poquito
                    a la mandanga. Toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla
                    amicii
                    toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la tralla amicii toda la
                    tralla
                    amicii.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>